<!DOCTYPE html>
<html lang="ko">
<head>
  <title>league of legends esports</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">League of legends Esports </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/naver">네이버검색</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signin">회원가입</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">로그인</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lckproduce">LCK 팀 소개 </a>
    </li>
  
  </ul>
</nav>
<br>

<iframe width="1600" height="400" src="https://www.youtube.com/embed/ymHvifE__Ac?list=PLIWtfvmBcNofQxga3tn0K6bfOHmfqWUwm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="container-fluid">
  <h3>League of legends Esports 홈페이지 입니다.</h3>
  <p>LCK (League of legend champions korea)의 팀들을 소개하는 페이지 입니다.</p>
  
  <div style="border: 1px dotted red;">
    <img src="C:\dev\python\final\2021webb\img\T1.jpg" class="rounded" width="320" >
      <span style="margin-top:20px;font-size:17px;" >
      <span>T1</span>
      <P>최다, 최초, 유일무이, 전무후무 등 각종 수식어가 아깝지 않을 정도의 
        리그 오브 레전드에서 독보적인 수상 기록을 보유한 대표적인 명문 팀</P>
    </div>

    
    
    
    <div style="border: 1px dotted red;">
      <img src="C:\dev\python\final\2021webb\img\gen.g.jpg" class="rounded" width="320" >
        <span style="margin-top:20px;font-size:17px;" >
        <span> Gen g </span>
        <p>2014 시즌과 2017 시즌, 
          2번의 리그 오브 레전드 월드 챔피언십 우승을 달성한 LCK 전통의 강호 팀</p>
      </div>


      <div style="border: 1px dotted red;">
      <img src="C:\dev\python\final\2021webb\img\DWG.png" class="rounded" width="320" >
        <span style="margin-top:20px;font-size:17px;" >
        <span> DWG </span>
        <p>LCK 우승을 달성하고 2020 월드 챔피언십 우승까지 거머쥔
          맨 아래 바닥부터 계단을 하나하나 밟아가며 세계 최고의 팀이 된 입지전적인 스토리를 가지고 있으며 
          이제는 LCK 역사의 또 다른 주역 및 새로운 왕조의 기틀을 다지면서 전설의 자리에 도전하고 있는 팀</p>
      </div>
      
</div>

</body>
</html>
